/ Main component for a primary marketing message or call to action
.jumbotron
  %h1 All the Models in All the Markets
  %p
    %strong Proof and publish 3D prints in one step.
    Connect to all the STL marketplaces and
    upload your files. We’ll clean them up and post them online.
  %div{:style => "margin: auto auto; text-align:center"}
    %p
      %a.btn.btn-lg.btn-primary{:href => "/submissions/new", :role => "button"} Add yours &raquo;
    %br/
    - height = 300
    - width = 500
    %div.row
      %div.span5
        %p.text-center
          %b Original Mesh:
        = javascript_include_tag "https://embed.github.com/view/3d/jonaustin/botproof3d/master/meshes/81/hand_broken.obj.stl?height=#{height}&width=#{width}"

      %div.span5.offset2
        %p.text-center
          %b Repaired Mesh:
        = javascript_include_tag "https://embed.github.com/view/3d/jonaustin/botproof3d/master/meshes/81/hand_broken.obj_repaired.stl?height=#{height}&width=#{width}"

